In [1]:
import warnings

with warnings.catch_warnings():
    warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# task a

In [ ]:
df_sales = pd.read_csv("/content/Alcohol_Sales.csv")
df_sales.head()

         DATE  S4248SM144NCEN
0  1992-01-01            3459
1  1992-02-01            3458
2  1992-03-01            4002
3  1992-04-01            4564
4  1992-05-01            4221

In [ ]:
df_sales.shape

(325, 2)

In [ ]:
df_sales.columns = ["DATE", "SALES"]

In [ ]:
df_sales.head()

         DATE  SALES
0  1992-01-01   3459
1  1992-02-01   3458
2  1992-03-01   4002
3  1992-04-01   4564
4  1992-05-01   4221

In [ ]:
df_sales.dtypes

DATE     object
SALES     int64
dtype: object

In [ ]:
df_sales['DATE'] = pd.to_datetime(df_sales['DATE'])
df_sales.set_index('DATE', inplace=True)

In [ ]:
train_data, test_data = train_test_split(df_sales, test_size=0.2, shuffle=False)

In [ ]:
scaler = StandardScaler()
train_data['SALES'] = scaler.fit_transform(train_data[['SALES']])
test_data['SALES'] = scaler.transform(test_data[['SALES']])

In [ ]:
def create_sequences(data, sequence_length):
    sequences = []
    targets = []
    for i in range(len(data) - sequence_length):
        seq = data.iloc[i:i + sequence_length]
        target = data.iloc[i + sequence_length]
        sequences.append(seq)
        targets.append(target)
    return np.array(sequences), np.array(targets)

sequence_length = 10  # Adjust this value as needed
X_train, y_train = create_sequences(train_data, sequence_length)
X_test, y_test = create_sequences(test_data, sequence_length)

In [ ]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(64, activation='relu', input_shape=(sequence_length, 1)))
model.add(Dense(1))  # Output layer for forecasting

model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/100
8/8 [==============================] - 2s 52ms/step - loss: 0.8510 - val_loss: 4.8219
Epoch 2/100
8/8 [==============================] - 0s 13ms/step - loss: 0.6357 - val_loss: 3.2489
Epoch 3/100
8/8 [==============================] - 0s 15ms/step - loss: 0.4092 - val_loss: 1.3042
Epoch 4/100
8/8 [==============================] - 0s 13ms/step - loss: 0.2071 - val_loss: 3.4554
Epoch 5/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1948 - val_loss: 1.9476
Epoch 6/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1734 - val_loss: 0.5668
Epoch 7/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1728 - val_loss: 0.6402
Epoch 8/100
8/8 [==============================] - 0s 16ms/step - loss: 0.1617 - val_loss: 1.1642
Epoch 9/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1651 - val_loss: 1.0874
Epoch 10/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1626 - val_loss: 0.8392
Epoch 11/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1607 - val_loss: 0.5437
Epoch 12/100
8/8 [==============================] - 0s 16ms/step - loss: 0.1612 - val_loss: 0.6900
Epoch 13/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1594 - val_loss: 0.8502
Epoch 14/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1583 - val_loss: 0.6190
Epoch 15/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1551 - val_loss: 0.7544
Epoch 16/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1541 - val_loss: 0.7810
Epoch 17/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1530 - val_loss: 0.7061
Epoch 18/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1517 - val_loss: 0.7366
Epoch 19/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1500 - val_loss: 0.7164
Epoch 20/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1484 - val_loss: 0.8609
Epoch 21/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1482 - val_loss: 0.6792
Epoch 22/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1478 - val_loss: 0.7935
Epoch 23/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1453 - val_loss: 0.5815
Epoch 24/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1442 - val_loss: 0.9403
Epoch 25/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1409 - val_loss: 0.6945
Epoch 26/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1403 - val_loss: 0.9596
Epoch 27/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1416 - val_loss: 0.8783
Epoch 28/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1479 - val_loss: 0.4662
Epoch 29/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1387 - val_loss: 2.0092
Epoch 30/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1402 - val_loss: 0.4834
Epoch 31/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1392 - val_loss: 1.2773
Epoch 32/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1438 - val_loss: 0.4823
Epoch 33/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1346 - val_loss: 1.2095
Epoch 34/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1394 - val_loss: 0.5042
Epoch 35/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1374 - val_loss: 0.8938
Epoch 36/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1361 - val_loss: 0.8057
Epoch 37/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1340 - val_loss: 0.5968
Epoch 38/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1334 - val_loss: 0.9519
Epoch 39/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1326 - val_loss: 0.8171
Epoch 40/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1323 - val_loss: 0.9521
Epoch 41/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1332 - val_loss: 1.1943
Epoch 42/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1365 - val_loss: 0.8577
Epoch 43/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1341 - val_loss: 1.2424
Epoch 44/100
8/8 [==============================] - 0s 16ms/step - loss: 0.1302 - val_loss: 0.5749
Epoch 45/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1324 - val_loss: 1.9842
Epoch 46/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1314 - val_loss: 0.8242
Epoch 47/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1292 - val_loss: 1.5263
Epoch 48/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1293 - val_loss: 0.8491
Epoch 49/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1270 - val_loss: 1.7019
Epoch 50/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1260 - val_loss: 0.9039
Epoch 51/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1269 - val_loss: 1.2073
Epoch 52/100
8/8 [==============================] - 0s 18ms/step - loss: 0.1256 - val_loss: 0.8915
Epoch 53/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1274 - val_loss: 0.8829
Epoch 54/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1246 - val_loss: 1.2382
Epoch 55/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1241 - val_loss: 0.9026
Epoch 56/100
8/8 [==============================] - 0s 11ms/step - loss: 0.1283 - val_loss: 1.4251
Epoch 57/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1243 - val_loss: 0.7783
Epoch 58/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1223 - val_loss: 1.5159
Epoch 59/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1260 - val_loss: 1.7038
Epoch 60/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1223 - val_loss: 1.0727
Epoch 61/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1287 - val_loss: 0.5282
Epoch 62/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1259 - val_loss: 3.2028
Epoch 63/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1224 - val_loss: 0.8225
Epoch 64/100
8/8 [==============================] - 0s 15ms/step - loss: 0.1200 - val_loss: 4.2220
Epoch 65/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1230 - val_loss: 0.4521
Epoch 66/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1202 - val_loss: 2.9942
Epoch 67/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1135 - val_loss: 0.6262
Epoch 68/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1175 - val_loss: 0.7907
Epoch 69/100
8/8 [==============================] - 0s 12ms/step - loss: 0.1147 - val_loss: 1.1780
Epoch 70/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1101 - val_loss: 0.8744
Epoch 71/100
8/8 [==============================] - 0s 16ms/step - loss: 0.1094 - val_loss: 0.9928
Epoch 72/100
8/8 [==============================] - 0s 14ms/step - loss: 0.1073 - val_loss: 2.5149
Epoch 73/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1047 - val_loss: 1.3420
Epoch 74/100
8/8 [==============================] - 0s 13ms/step - loss: 0.1062 - val_loss: 0.5343
Epoch 75/100
8/8 [==============================] - 0s 17ms/step - loss: 0.1169 - val_loss: 1.5195
Epoch 76/100
8/8 [==============================] - 0s 20ms/step - loss: 0.1043 - val_loss: 2.2741
Epoch 77/100
8/8 [==============================] - 0s 22ms/step - loss: 0.1043 - val_loss: 0.6645
Epoch 78/100
8/8 [==============================] - 0s 21ms/step - loss: 0.0945 - val_loss: 2.4634
Epoch 79/100
8/8 [==============================] - 0s 20ms/step - loss: 0.0971 - val_loss: 0.6193
Epoch 80/100
8/8 [==============================] - 0s 19ms/step - loss: 0.1144 - val_loss: 0.9390
Epoch 81/100
8/8 [==============================] - 0s 21ms/step - loss: 0.1031 - val_loss: 3.0267
Epoch 82/100
8/8 [==============================] - 0s 24ms/step - loss: 0.0983 - val_loss: 1.8976
Epoch 83/100
8/8 [==============================] - 1s 67ms/step - loss: 0.0947 - val_loss: 2.4984
Epoch 84/100
8/8 [==============================] - 0s 36ms/step - loss: 0.0931 - val_loss: 3.5677
Epoch 85/100
8/8 [==============================] - 0s 19ms/step - loss: 0.0933 - val_loss: 5.8095
Epoch 86/100
8/8 [==============================] - 0s 21ms/step - loss: 0.1096 - val_loss: 4.0918
Epoch 87/100
8/8 [==============================] - 0s 21ms/step - loss: 0.1090 - val_loss: 0.6687
Epoch 88/100
8/8 [==============================] - 0s 21ms/step - loss: 0.0945 - val_loss: 0.4514
Epoch 89/100
8/8 [==============================] - 0s 20ms/step - loss: 0.1026 - val_loss: 2.6945
Epoch 90/100
8/8 [==============================] - 0s 20ms/step - loss: 0.0939 - val_loss: 0.8419
Epoch 91/100
8/8 [==============================] - 0s 11ms/step - loss: 0.0855 - val_loss: 3.2656
Epoch 92/100
8/8 [==============================] - 0s 15ms/step - loss: 0.0905 - val_loss: 1.9171
Epoch 93/100
8/8 [==============================] - 0s 13ms/step - loss: 0.0989 - val_loss: 0.9477
Epoch 94/100
8/8 [==============================] - 0s 12ms/step - loss: 0.0863 - val_loss: 0.7273
Epoch 95/100
8/8 [==============================] - 0s 13ms/step - loss: 0.0835 - val_loss: 2.2714
Epoch 96/100
8/8 [==============================] - 0s 15ms/step - loss: 0.0826 - val_loss: 2.3757
Epoch 97/100
8/8 [==============================] - 0s 11ms/step - loss: 0.0829 - val_loss: 0.8438
Epoch 98/100
8/8 [==============================] - 0s 14ms/step - loss: 0.0793 - val_loss: 2.1910
Epoch 99/100
8/8 [==============================] - 0s 12ms/step - loss: 0.0791 - val_loss: 0.9345
Epoch 100/100
8/8 [==============================] - 0s 11ms/step - loss: 0.0847 - val_loss: 1.3040

In [ ]:
from sklearn.metrics import mean_squared_error

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate RMSE (Root Mean Squared Error)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'Root Mean Squared Error (RMSE): {rmse}')

2/2 [==============================] - 0s 7ms/step
Root Mean Squared Error (RMSE): 1.1419441638625467

# task b

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

2023-09-20 19:35:21.657708: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-20 19:35:26.692193: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [38]:
df_miles = pd.read_csv("data/task4/Miles_Traveled.csv")

In [39]:
df_miles.head(3)

         DATE  TRFVOLUSM227NFWA
0  1970-01-01           80173.0
1  1970-02-01           77442.0
2  1970-03-01           90223.0

In [40]:
df_miles.columns = ["DATE", "MILES"]

In [41]:
# current date format is yyyy-mm-dd
df_miles.index = pd.to_datetime(df_miles["DATE"], format = "%Y-%m-%d")
# df_miles.index = df_miles.index.strftime('%d-%m-%Y')

In [42]:
df_miles['day'] = df_miles.index.day
df_miles['month'] = df_miles.index.month
df_miles['year'] = df_miles.index.year

In [56]:
df_miles = df_miles.sort_values(by=['year', 'day'])

In [36]:
#df_miles = df_miles.drop(columns=['day', 'month', 'year'])

In [57]:
df_miles[:20]

                  DATE     MILES  day  month  year
DATE
1970-01-01  1970-01-01   80173.0    1      1  1970
1970-12-01  1970-12-01   89911.0    1     12  1970
1970-11-01  1970-11-01   89684.0    1     11  1970
1970-10-01  1970-10-01   96317.0    1     10  1970
1970-08-01  1970-08-01  106969.0    1      8  1970
1970-07-01  1970-07-01  106392.0    1      7  1970
1970-09-01  1970-09-01   95254.0    1      9  1970
1970-05-01  1970-05-01   97972.0    1      5  1970
1970-04-01  1970-04-01   89956.0    1      4  1970
1970-03-01  1970-03-01   90223.0    1      3  1970
1970-02-01  1970-02-01   77442.0    1      2  1970
1970-06-01  1970-06-01  100035.0    1      6  1970
1971-08-01  1971-08-01  112642.0    1      8  1971
1971-12-01  1971-12-01   95515.0    1     12  1971
1971-11-01  1971-11-01   95555.0    1     11  1971
1971-10-01  1971-10-01  102525.0    1     10  1971
1971-07-01  1971-07-01  112466.0    1      7  1971
1971-09-01  1971-09-01  101290.0    1      9  1971
1971-05-01  1971-05-01  103655.0    1      5  1971
1971-04-01  1971-04-01   98106.0    1      4  1971