In [141]:
import my_utils as mu
import warnings
warnings.filterwarnings("ignore")

In [121]:
# getting all the column names
start_capture = False
captured_lines = []

with open("data/task1/dermatology.names", "r") as f:
    for line in f:
        if "Clinical Attributes: (take values 0, 1, 2, 3, unless otherwise indicated)" in line:
            start_capture = True
        elif "8. Missing Attribute Values: 8 (in Age attribute). Distinguished with '?'." in line:
            break
        elif "Histopathological Attributes: (take values 0, 1, 2, 3)" in line:
            continue
        elif "34: Age (linear)" in line:
            continue
        elif start_capture:
            text = line.strip()
            temp = text.split(":")
            if len(temp) > 1 :
                captured_lines.append(temp[1][1:len(temp[1])])

#last column is the classification column which is not mentioned in the details
column_names = "\n".join(captured_lines)
column_names += "\nAge\nclass"
print(column_names)

erythema
scaling
definite borders
itching
koebner phenomenon
polygonal papules
follicular papules
oral mucosal involvement
knee and elbow involvement
scalp involvement
family history, (0 or 1)
melanin incontinence
eosinophils in the infiltrate
PNL infiltrate
fibrosis of the papillary dermis
exocytosis
acanthosis
hyperkeratosis
parakeratosis
clubbing of the rete ridges
elongation of the rete ridges
thinning of the suprapapillary epidermis
spongiform pustule
munro microabcess
focal hypergranulosis
disappearance of the granular layer
vacuolisation and damage of basal layer
spongiosis
saw-tooth appearance of retes
follicular horn plug
perifollicular parakeratosis
inflammatory monoluclear inflitrate
band-like infiltrate
Age
class

In [122]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [123]:
column_names = column_names.split("\n")

In [124]:
len(column_names)

35

In [125]:
df = pd.read_csv("data/task1/dermatology.data", names = column_names)
df.head()

,erythema,scaling,definite borders,itching,koebner phenomenon,polygonal papules,follicular papules,oral mucosal involvement,knee and elbow involvement,scalp involvement,...,disappearance of the granular layer,vacuolisation and damage of basal layer,spongiosis,saw-tooth appearance of retes,follicular horn plug,perifollicular parakeratosis,inflammatory monoluclear inflitrate,band-like infiltrate,Age,class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3

In [127]:
df.shape

(366, 35)

In [128]:
# replace ? with na and then na with median age
df["Age"].replace("?", np.nan, inplace=True)
median_age = df["Age"].median()
df["Age"].fillna(median_age, inplace=True)

In [129]:
X = df.drop(columns=["class"])
y = df["class"]

In [134]:
X_train, X_val, X_test, y_train, y_val, y_test = mu.split_data(X, y)

In [131]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [135]:
import tensorflow as tf
from tensorflow import keras

lr = 0.001

model = keras.Sequential([
    keras.layers.Dense(64, activation="relu", input_shape=(X_train.shape[1],)),
    keras.layers.Dense(32, activation="relu"),
    keras.layers.Dense(1, activation="sigmoid")
])

model.compile(optimizer=keras.optimizers.Adam(learning_rate=lr), loss="binary_crossentropy", metrics=["accuracy"])

In [145]:
from my_utils import get_float32_data

ImportError: cannot import name 'get_float32_data' from 'my_utils' (/workspaces/sc_a1/my_utils.py)

In [144]:

X_train, X_val, X_test, y_train, y_val, y_test = get_float32_data(X_train, X_val, X_test, y_train, y_val, y_test)

ImportError: cannot import name 'get_float32_data' from 'my_utils' (/workspaces/sc_a1/my_utils.py)

In [139]:
history = model.fit(X_train.astype(np.float32), y_train.astype(np.float32), epochs=100, validation_data=(X_val.astype(np.float32), y_val.astype(np.float32)), verbose = 0)

In [ ]:
model.summary()

In [ ]:
from my_utils import get_hyperparameters
get_hyperparameters(model)

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")

In [ ]:
import matplotlib.pyplot as plt

training_loss = my_model.history["loss"]
testing_loss = my_model.history["val_loss"]

# Create a range of epochs for the x-axis
epochs = range(1, len(training_loss) + 1)

plt.figure(figsize=(10, 5))
plt.plot(epochs, training_loss, label="Training Loss")
plt.plot(epochs, testing_loss, label="Testing Loss")
plt.xlabel("Epoch")
plt.ylabel("Loss")
plt.title("Training and Testing Loss Over Epochs")
plt.legend()
plt.show()